<table class="table">
    <thead>
        <tr>
            <th scope="col">FinishedDate</th>
            <th scope="col">FinishedUnits</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records">
            <th>{{record.finishedDate | date: 'shortDate': 'UTC'}}</th>
            <th>{{record.finishedUnits }}</th>
            <th>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                    attr.data-target="#editModal_{{record?._id}}">
                    Edit Record
                </button>

                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    attr.data-target="#deleteModal_{{record?._id}}">
                    Delete Record
                </button></th>

            <!-- Delete Record Modal -->
            <div class="modal fade" id="deleteModal_{{record?._id}}" tabindex="-1" role="dialog"
                aria-labelledby="deleteGoalModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Alert!!!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the record at
                            "{{record?.finishedDate | date: 'shortDate'}}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="deleteRecord(record._id)"
                                data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Edit a Recod Modal -->
            <div class="modal fade" id="editModal_{{record?._id}}" tabindex="-1" role="dialog"
                aria-labelledby="editGoalModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editGoalModalLabel">Edit Record</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row justify-content-md-center">

                                    <form>
                                        <div class="form-group">
                                            <label for="finishedDate">Finished Date</label>
                                            <input type="date" name="finishedDate" #finishedDate class="form-control"
                                                value="{{record?.finishedDate | date:'yyyy-MM-dd'}}">
                                        </div>

                                        <div class="form-group">
                                            <label for="finishedUnits">Finished Units</label>
                                            <input type="number" name="finishedUnits" #finishedUnits
                                                class="form-control" value={{record?.finishedUnits}}>
                                        </div>

                                        <div class="form-group" [style.display]="'none'">
                                            <label for="goalId"></label>
                                            <input type="text" name="goalId" #goalId class="form-control"
                                                value={{record?.goalId}}>
                                        </div>

                                        <div class="form-group" [style.display]="'none'">
                                            <label for="recordId"></label>
                                            <input type="text" name="recordId" #recordId class="form-control"
                                                value={{record?._id}}>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                (click)="updateRecord(finishedDate, finishedUnits, goalId, recordId)">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </tbody>
</table>