<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="display-4">{{ goal?.goalName }}</h1>
                    <p class="lead">Goal: {{goal?.goalNumber}} {{goal?.goalUnit}}</p>
                    <p class="lead">Tag: {{goal?.tag}}</p>
                    <p class="lead">StartDate: {{goal?.startDate | date: 'shortDate': 'UTC'}}</p>
                    <p class="lead">DueDate: {{goal?.dueDate | date: 'shortDate': 'UTC'}}</p>
                    
                    <!--progress bar -->
                    <div class="progress">
                        <div style="background-color: #b2c2bf !important;"class="progress-bar progress-bar-animated" [style.width]='finishedPercentage'
                            attr.aria-valuenow=0 aria-valuemin=0 attr.aria-valuemax={{goal?.goalNumber}}>
                            {{finishedPercentage}}
                        </div>
                    </div>
                    
                    <br>
                    <!-- delete goal/ edit goal buttons-->
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                        attr.data-target="#editModal_{{goal?._id}}">
                        Edit Goal
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                        attr.data-target="#deleteModal_{{goal?._id}}">
                        Delete Goal
                    </button>
                </div>
                <div class="col">
                    <!-- bar chart -->
                    <div>
                        <div>
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h4>RECORDS</h4>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
            attr.data-target="#addRecordModal_{{goal?._id}}">
            Add Record
        </button>
    </div>

    <!-- show record table-->
    <app-record [records]="records" (deleteRecordClicked)="ngOnInit()" (updatRecordClicked)="ngOnInit()">
    </app-record>
</div>

<!-- Delete Goal Modal -->
<div class="modal fade" id="deleteModal_{{goal?._id}}" tabindex="-1" role="dialog"
    aria-labelledby="deleteGoalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Alert!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "{{goal?.goalName}}" ???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deleteGoal()"
                    data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit a Goal Modal -->
<div class="modal fade" id="editModal_{{goal?._id}}" tabindex="-1" role="dialog" aria-labelledby="editGoalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editGoalModalLabel">Edit Goal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-md-center">

                        <form>
                            <div class="form-group">
                                <label for="goalNameInput">Goal Name</label>
                                <input type="text" name="goalName" #newGoalName class="form-control"
                                    value={{goal?.goalName}}>
                            </div>

                            <div class="form-group">
                                <label for="tagInput">Tag</label>
                                <input type="text" name="tag" #newTag class="form-control" value={{goal?.tag}}>
                            </div>

                            <div class="form-group">
                                <label for="goalNumberInput">Goal Number</label>
                                <input type="number" name="goalNumber" #newgoalNumber class="form-control"
                                    value={{goal?.goalNumber}}>
                            </div>

                            <div class="form-group">
                                <label for="goalUnitInput">Goal Unit</label>
                                <input type="text" name="goalUnit" #newgoalUnit class="form-control"
                                    value={{goal?.goalUnit}}>
                            </div>

                            <div class="form-group">
                                <label for="startDateInput">Start Date</label>
                                <input type="date" name="startDate" #newstartDate class="form-control"
                                    value="{{goal?.startDate | date:'yyyy-MM-dd'}}">
                            </div>

                            <div class="form-group">
                                <label for="dueDateInput">Due Date</label>
                                <input type="date" name="dueDate" #newdueDate class="form-control"
                                    value="{{goal?.dueDate | date:'yyyy-MM-dd'}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="updateGoal(newGoalName, newTag, newgoalNumber, newgoalUnit, newstartDate, newdueDate)">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add Record Modal -->
<div class="modal fade" attr.id="addRecordModal_{{goal?._id}}" tabindex="-1" role="dialog"
    attr.aria-labelledby="addRecordModal_{{goal?._id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecordModal">Create Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <form>
                            <div class="form-group">
                                <label for="finishedUnits">Finished Units Number</label>
                                <input type="number" name="finishedUnits" #finishedUnits class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="finishedDate">Finished Date</label>
                                <input type="date" name="length" #finishedDate class="form-control">
                            </div>

                            <button class="btn btn-secondary" data-dismiss="modal"
                                (click)="addRecord(finishedUnits, finishedDate)">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>