h1 {
    text-align: center;
}

.media a:link {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
}
.media a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.media a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.loginButton {
     text-align: center;
}

.row {
    offset-block-start: 2
} 