<div class="text-center">
  <h1>WELCOME TO GOAL TRACKER</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/images/working.jpg" style="margin-top: 20px;">
    </div>
    <div class="col">
      <h2 style="margin-top: 100px;" class="font-weight-light">Track and mine the best out of your goals</h2>
      <p>"A dream without a plan is just a wish"</p>
      <div class="text-center">
        <button (click)="login()" type="button" class="btn btn-dark">
          log in with Google
        </button>
      </div>
      <br>
      <div class="text-center">
        <button (click)="logout()" type="button" class="btn btn-dark">
          log out
        </button>
      </div>
    </div>
  </div>
</div>