<!-- Modal -->
<div class="modal fade" id="createGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGoalModalLabel">Create Goal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-md-center">

                        <form>
                            <div class="form-group">
                                <label for="goalNameInput">Goal Name</label>
                                <input type="text" name="goalName" #newGoalName class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="tagInput">Tag</label>
                                <input type="text" name="tag" #newTag class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="goalNumberInput">Goal Number</label>
                                <input type="number" name="goalNumber" #newgoalNumber class="form-control" min=1
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="goalUnitInput">Goal Unit</label>
                                <input type="text" name="goalUnit" #newgoalUnit class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="startDateInput">Start Date</label>
                                <input type="date" name="startDate" #newstartDate class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="dueDateInput">Due Date</label>
                                <input type="date" name="dueDate" #newdueDate class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="addGoal(newGoalName, newTag, newgoalNumber, newgoalUnit, newstartDate, newdueDate);">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <h1>My Goals</h1>
    
    <!-- Button trigger create goal popup. Only show if logged in -->
    <button *ngIf="loggedIn" type="button" class="btn btn-dark" data-toggle="modal" data-target="#createGoalModal">
        &#43; Create Goal
    </button>

    <br>
    <!--list goals-->
    <div *ngFor="let goal of goals" class="col-1-4">
        <app-goal [goal]="goal" (deletedClick)="ngOnInit()" (updatedClick)="ngOnInit()"></app-goal>
    </div>
</div>